<div class="flex">
  <div class="flex">
    <div class="d-flex flex-row">
      <div class="p-1">
        <input type="radio" (click)="setInterval('day')" id="24h" name="interval" value="24h">
        <label for="24h">24h</label><br>
        <!-- <button type="button" (click)="getConsumption('day')" class="btn btn-block btn-primary">24h</button> -->
      </div>
      <div class="p-1">
        <input type="radio" (click)="setInterval('week')" id="week" name="interval" value="Weekly">
        <label for="week">Weekly</label><br>
        <!-- <button type="button" (click)="getConsumption('week')" class="btn btn-block btn-primary">Weekly</button> -->
      </div>
      <div class="p-1">
        <input type="radio" (click)="setInterval('month')" id="month" name="interval" value="Monthly">
        <label for="month">Monthly</label>
        <!-- <button type="button" (click)="getConsumption('month')" class="btn btn-block btn-primary">Monthly</button> -->
      </div>
      <div class="p-1">
        <input type="radio" (click)="setInterval('year')" id="year" name="interval" value="Yearly">
        <label for="year">Yearly</label>
        <!-- <button type="button" (click)="getConsumption('year')" class="btn btn-block btn-primary">Yearly</button> -->
      </div>
    </div>
  </div>
</div>

<div  class="row">
  <div  class="col-sm-12 col-md-6 col-lg-4" *ngFor="let item of devices | keyvalue">
     <app-consumption [title]="item.value.props.name" [showTableData]="false" [device_id]="item.value.props.id" [interval]="interval"></app-consumption>
  </div>
  <div class="col-12">
    <app-consumption [showTableData]="false" [mergeAllDevice]="true" [interval]="interval"></app-consumption>
  </div>
</div>

