<div class="row">
  <button class="btn btn-primary" (click)="stopEdit()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back
  </button>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-12 col-sm-6">
    <div d-flex justify-content-center>
      <ng-wizard [config]="config">
        <ngx-spinner
          color="#fff"
          type="ball-clip-rotate-multiple"
          [fullScreen]="false"
          size="default"
        >
          <br /><br />
          <p style="font-size: 20px; color: white">Trying to connect...</p>
        </ngx-spinner>
        <ng-wizard-step
          [title]="'Step 1'"
          [description]="'Choose group name'"
        >
          <div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="groupName">Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name">

                </div>
              </div>
            </div>
          </div>
        </ng-wizard-step>

        <ng-wizard-step
          [title]="'Step 2'"
          [description]="'Choose devices'"
        >
          <div>Success</div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 3'" [description]="'Edit'">
          <div>Edit</div>
        </ng-wizard-step>
      </ng-wizard>
    </div>
  </div>
  <div class="col-3"></div>
</div>
