<div *ngIf="!inEdit">
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <button (click)="startEdit()" type="button" class="btn btn-success">
        <i class="fa fa-plus"></i>&nbsp;Add new
      </button>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices | keyvalue">
            <td>{{ device.value.props.name }}</td>
            <td>{{ device.value.props.type }}</td>
            <td>
              <button *ngIf="device.value.props.type == 'SHSW-PM'"
                (click)="openSwitchEditModal(device.value.props.id)"
                type="button"
                class="btn btn-primary"
              >
                <i class="fa fa fa-pencil"></i>&nbsp;Edit
              </button>

              <button *ngIf="device.value.props.type == 'SHRGBW2'"
                (click)="openRgbControllerEditModal(device.value.props.id)"
                type="button"
                class="btn btn-primary"
              >
                <i class="fa fa fa-pencil"></i>&nbsp;Edit
              </button>

              <button *ngIf="device.value.props.type == 'SHHT-1'"
                (click)="openShht1EditModal(device.value.props.id)"
                type="button"
                class="btn btn-primary"
              >
                <i class="fa fa fa-pencil"></i>&nbsp;Edit
              </button>





              <button
                (click)="openDeleteAlertModal()"
                type="button"
                class="btn btn-danger"
              >
                <i class="fa fa-trash-o"></i>&nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="inEdit">
  <div class="row">
    <div class="col">
      <app-add-new-modal (editStatus) = "stopEdit()" ></app-add-new-modal>
    </div>
  </div>
</div>
