<div class="animated fadeIn">
  <div class="row">
    <!--  <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div> --><!--/.col-->

    <div *ngFor="let item of groups | keyvalue" class="col-6 col-lg-3">
      <app-group
        [groupProps]="item.value" [devices]="this.devices"
      ></app-group>
    </div>

    <div *ngFor="let item of devices | keyvalue" class="col-6 col-lg-3">
      <app-switch
        *ngIf="item.value.props.type === 'SHSW-PM'"
        [deviceProps]="item.value.props"
        [deviceStatus]="item.value.status"
      ></app-switch>

      <app-shht1
        *ngIf="item.value.props.type === 'SHHT-1'"
        [deviceProps]="item.value.props"
        [deviceStatus]="item.value.status"
      ></app-shht1>

      <app-rgb-controller
        *ngIf="item.value.props.type === 'SHRGBW2'"
        [deviceProps]="item.value.props"
        [deviceStatus]="item.value.status"
      ></app-rgb-controller>
    </div>



    <!--/.col-->
  </div>
  <!--/.row-->
</div>
