
<div class="modal-body">
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      Do you really want to delete item?
    </div>
  </div>
  <br><br><br>
  <div class="d-flex justify-content-center">
    <div class="p-2">
      <button (click)="activeModal.close('NO')" type="button" class="btn btn-primary"><i class="fa fa-times"></i>&nbsp;No</button>
      <button (click)="activeModal.close('Yes')" type="button" class="btn btn-danger"><i class="fa fa-check"></i>&nbsp;Yes</button>
    </div>
  </div>
</div>
