<div class="row">
  <button class="btn btn-primary" (click)="stopEdit()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</button>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-12 col-sm-6">
    <div d-flex justify-content-center>
      <ng-wizard [config]="config" >

        <ng-wizard-step [title]="'Step 1'" [description]="'Connect to device wifi'"
          [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
          <div>Connect to device</div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 2'" [description]="'Connect device to existing WIFI'">
          <div>Connect to WIFI</div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 3'" [description]="'Edit'"
          [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
          <div>Edit</div>
        </ng-wizard-step>
      </ng-wizard>
    </div>

  </div>
  <div class="col-3"></div>
</div>


